.container {
    display: flex;
    width: 100%;
    padding: 0 32px;
    margin-top: 24px;
    gap: 12px;
}

.listItem {
    flex: 1 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    overflow: hidden;
    background: #EEB84D;
}

.cardInner {
    display: flex;
    flex-direction: column;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background: white;
    margin: 3px;
    border-radius: 86px 0 86px 0;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.cardInner > span {
    word-break: break-word;
}